<%# Renders list of most recent blogs
# -params-
-%>
<div class="bodyLittleSide" style="padding:5px 10px;">
	<p style="font-size:14px;"><strong>Recent Posts</strong></p>
	<ul style="list-style-type:disc;margin-left:0;padding-left:5px;">
	<% for blog in @blogs %>
		<li style="padding-top:4px;"><%= link_to blog.title, blog_named_link(blog) %></li>
	<% end %>
		</ul>
		<% if @blogs && @blogs.total_pages > 1 -%>
			<div style="padding-bottom:4px;">More pages</div> <%= will_paginate(@blogs, {:form_name => :blog_show_params, :param_name => :page} ) -%>
			<% end %>
		<p style="font-size:14px;"><strong>Or Maybe</strong></p>
		<a href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://www.bonanzle.com/blogs"><img src="http://static.technorati.com/pix/fave/btn-fave2.png" alt="Add to Technorati Favorites" /></a><br />
	<div style="margin-top:4px"><%= link_to "#{image_tag "feed-icon.png"} Subscribe to feed", { :action => :feed }, :style => 'text-decoration:none' %></div>
</div>
		
