<div class="bodyBigSide" style="padding:5px 10px">
	<%= render :partial => 'show', :locals => { :blog => @blog } %>
	<%= render :partial => 'comments', :locals => { :blog => @blog } %>
</div>

<%= render :partial => 'recent_list' %>