<div id="main_content">
	<%= render :partial => 'show', :locals => { :blog => @blog } %>
	<%= render :partial => 'comments', :locals => { :blog => @blog } %>
</div>

<%= render :partial => 'side_nav' %>