<%# 
# -params-
-%>

<div id="header">
	<% if @blog %>
		<h1><%= link_to(@blog.title, blog_named_link(nil, :index, { :blog => @blog })) -%></h1>
		<p class="subtitle"><%= @blog.subtitle -%></p>
	<% else %>
		<h1>Bloggity :: Rails Blogging Made Stupid Simple</h1> 
	<% end %>
</div>
